* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.arriba{
color: rgb(18, 38, 54);
font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: green;
    color: white;
}


header nav a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}

div {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select{
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #000;
      border-radius: 5px;

}

button{
      background-color: green;
      font-weight: bold;

}

p{
padding: 10px;
}

output{
            font-weight: bold;
            font-style: italic;
            font-size: 20px;


}

.imagen-planta{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #000000;   
}

.imagen-planta img {
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    display: none;
}



form{
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

p.nosotros{
    margin: 50px;
    font-weight: bold;
    font-style: italic;
    width: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}